{{ define "lineage/jobs-detail.html" }}

{{ template "main/header.html"}}


<div class="row">

  <div class="col-xs-2">
    {{ template "main/menu.html" . }}
  </div>

  <div class="col-xs-9">

    <nav aria-label="breadcrumb">
      <ul>
      {{ with .Breadcrumbs }}
        {{ range . }}
          <li>
            <a href="{{ .Href }}">{{ .Text }}</a>
          </li>
        {{ end }}
      {{ end }}
      </ul>
    </nav>

    <h2 class="title is-1">{{ .Title }}</h2>

    {{ template "lineage/jobs-runs.html" . }}

  </div>
</div>

{{ template "main/footer.html"}}
{{ end }}
